
// import bourbon & friends
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat";


// Sizes
$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1124px;
$largedesktop-size: 1824px;

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $mobile-size 4);
$tablet: new-breakpoint(min-width $tablet-size 12);
$desktop: new-breakpoint(min-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);

/* colors taken from antimatter theme */
 
// calender specific variables
$calendar-control-button-bg:			#efefef !default;
$calendar-control-button-color:			#222222 !default;
$calendar-headings-bg:					transparent !default;
$calendar-headings-color:				#222222 !default;
$calendar-day-bg: 						#efefef !default;
$calendar-day-color:					#222222 !default;
$calendar-day-current-bg:				#1BB3E9 !default;
$calendar-day-current-color:			#ffffff !default;
$calendar-event-link-color:				#222222 !default;
$calendar-day-block-bg:					#efefef !default;

// event(s) specific variables
$event-item-border: 					1px solid #efefef !default;
$event-image-border-radius: 			3px !default;
$event-button-color:					#1BB3E9 !default;
$event-button-bg:						#ffffff !default;
$event-button-border:					2px solid $event-button-color !default;
$event-button-hover-color:				#fff !default;
$event-button-hover-bg:					$event-button-color !default;
$event-button-hover-border:				2px solid $event-button-color !default;
$event-button-border-radius:			4px !default;
$event-button-padding:					0.5rem 2rem;
$event-border-radius: 					4px !default;

/* html5 .calendar-hide */
.calendar-hide {
	display: none;
}

/* html5 .calendar-container element */
.calendar-container {
	@include outer-container();

	a {
		transition: 0.2s;
	}

	.calendar-details {

		@include media($tablet) {
			@include span-columns(5);			
		}

		.calendar-day-details {
			
			h3 {
				font-size: 1.6rem;
			}

			ul {
				list-style: none;
				padding: 0;

				li {
					@include outer-container();
					margin-bottom: 0.25rem;

					.left-column {
						@include span-columns(4);
						position: relative;

						img {
							z-index: 98;
							position: relative;
						}

						.event-time {
							position: absolute;
							z-index: 99;
							background: #fff;
							background: rgba(255,255,255,0.75);
							color: #222;
							bottom: 8px;								
							right: 0;
							padding: 0.25rem 0.5rem;
						}
					}
					.right-column {
						@include span-columns(8);

						.event-title {
							margin: 0;
							font-weight: bold;
						}
						.event-summary {
							 p {
							 	margin: 0.25rem 0;
							 }
						}
					}	

				}
			}
		}
	}

	.calendar-table {
		
		@include media($tablet) {
			@include span-columns(7);			
		}

		margin-top: 1rem;

		.calendar-title {
			text-align: center;
			display: none;
		}

		.calendar-content {
			display: none;
		}

		.calendar-day-details {
			display: none;
		}

		.controls {
			text-align: center;
			font-size: 1em;

			.calendar-button {
				display: inline-block;
				width: 1.5rem;
				line-height: 1.5rem;
				background-color: $calendar-control-button-bg;
				color: $calendar-control-button-color;
				border-radius: 1.5rem;
				margin: 0 0.05em 0.5rem;
				text-align: center; 

				&:hover {
					color: $calendar-control-button-color;
					transition: background-color 0.15s ease;
					background-color: shade($calendar-control-button-bg, 10);
				}
			}

			span {
				display: inline-block;
			}
			span.month {
				width: 6rem;
				text-align: center;
			}
			span.year {
				width: 4rem;
				text-align: center;
			}

			.month {
				text-align: left;

				.calendar-button:first-child {
					margin-left: 0.75rem;
				}
			}

			.year {
				text-align: right;

				.calendar-button:last-child {
					margin-right: 0.25rem;
				}
			}
		}

		.calendar {
			font-family: sans-serif;

			tr.headings {
				th {
					text-align: center;
					font-size: 0.75rem;
				}
			}

			thead {

				tr {

					th {

						background: $calendar-headings-bg;
					}

				}

				.calendar-button
				.headings {
					text-align: center;
				}

				.controls-container {

				}

				.headings {
					background: $calendar-headings-bg;
					color: $calendar-headings-color;

					th {
						line-height: 2.5;
					}
				}
			}

			tbody {

				tr {

					td {
						vertical-align: top;
						padding: .45rem;
					
						.events-list {
							width: auto;

							ul {

							}
						}

						.events {
							position: relative;
							font-size: 0.75rem;
							text-align: center;

							.day {

								&.active {
									color: $calendar-day-current-bg;
								}

								a {
									color: lighten($calendar-day-color, 40);
									border-radius: 2.5rem;
									background: $calendar-day-bg;
									display: inline-block;
									width: 2.5rem;
									color: $calendar-day-color;

									&:hover, &.active {
										background: $calendar-day-current-bg;
										color: $calendar-day-current-color;
									}
									&.active:hover {
										background: lighten($calendar-day-current-bg, 5);
									}
								}

								span, a {
									width: 2.5rem;
									line-height: 2.5rem;
									font-size: 0.75rem;
									text-align: center;
								}
							}

							.expand {
								background: $calendar-day-bg;
								color: $calendar-day-color;
								width: 1.75rem;
								height: 1.75rem;
								line-height: 1.75rem;
								font-size: 0.75rem;
								text-align: center;
								position: absolute;
								bottom: 0;
								right: 0;
								display: none;
							}

							ul {
								list-style: none;
								padding: 0 0.5rem 0.25rem;
								margin: 0.5rem 0.5rem 0.5rem 0;

								li {
									padding: 0;

									a {
										color: $calendar-event-link-color;
									}
								}
							}

							.event {
								line-height: 1.2;

								time {

								}

								&:hover {
									height: auto;
								}
							}

							.view-all {
								border: 0;
								margin: 0;
								padding: 0 0.75rem;
								background: #d5d5d5;
								position: absolute;
								bottom: 0;
								color: #000;
								line-height: 2;
								outline: none;
							}
						}
					}
				}
			}
		}
	}
}

/* html5 .events-container element */
.events-container {
	@include outer-container();

	.events-listing {
		padding-bottom: 2rem;

		.event-item {
			@include row();
			border-bottom: $event-item-border;
			padding: 1rem 0;

			&:last-child {
				border-bottom: 0;
			}

			.event-image {
				@include span-columns(1 of 5);

				img {
					padding: 0;
					margin: 1rem 0 0;
					border-radius: $event-image-border-radius;
				}
			}

			.event-content {
				@include span-columns(4 of 5);
				@include row();

				h3 {
					margin: 0;
				}

				.event-meta {
					@include span-columns(4);
					@include omega();

					ul {
						list-style: none;
						padding-left: 0;

						li {

							i {
								width: 1.5rem;
							}
						}
					}
				}

				.event-summary {
					@include span-columns(8);
					@include omega();
				}
			}

		}
	}
}

/* html5 .event-container element */
.event-container {
	@include outer-container();

	.event-listing {
		@include span-columns(8);
	}

	.events-sidebar {
		@include span-columns(4);

		.event-tags {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				display: inline;
			}
		}
	}
}

/* html5 .event-article element */
.event-article {
	padding: 1rem 0 1.5rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #efefef;

	.event-header {
		@include row();
		position: relative;
	}

	.event-content {
		@include row();

		.left-column {
			@include span-columns(2);

			.event-date {
				text-align: right;
				color: #555;
				margin: 1.75rem 1rem 0 0;
				display: block;

				.day {
					display: block;
					font-size: 2.75rem;
					font-weight: bold;
					margin: 0;
					line-height: 1;
				}
				.month {
					display: block;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1rem;
					line-height: 1;
					margin: 0.5rem 0;
				}
				.time {
					display: block;
					line-height: 1;
					font-size: 0.95rem;
					margin-top: 1.2rem;
				}
				.year {
					display: none;
				}
			}

			.categories {
				text-align: right;
				margin-right: 1rem;
				margin-top: 1.5rem;
			}

		}
		.right-column {
			@include span-columns(10);

			.event-content {

			}
			.event-summary {
				* {
					display: inline;
				}
			}
		}
	}

	.event-meta {
		font-style: italic;
	}
	
	.event-footer {
		@include row();
	}

}

/* html5 .events-sidebar element */
.events-sidebar {

	.events-list {
		list-style: none;
		padding-left: 0;

		.event-day {
			font-size: 1.2rem;
			font-weight: bold;
			margin-top: 1rem;
		}
	}
}

/* html5 .event-tags element */
.event-tags {
	display: inline-block;

	a {
		display: inline-block;
		border: 1px solid $event-button-color;
		border-radius: $event-border-radius;
		padding: 0 0.5rem;
		text-transform: uppercase;
		font-size: .85rem;
		font-weight: normal;
	}
}

/* clear user agent styles */
.clear-user-agent-styles table,
.clear-user-agent-styles thead,
.clear-user-agent-styles tbody,
.clear-user-agent-styles tfoot,
.clear-user-agent-styles tr,
.clear-user-agent-styles th,
.clear-user-agent-styles td {
    border: none;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
}
