html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* taken from antimatter theme */
/* events */
.events-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .events-container::after {
    clear: both;
    content: "";
    display: block; }
  .events-container .events-listing {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 63.28387%; }
    .events-container .events-listing:last-child {
      margin-right: 0; }
  .events-container .events-sidebar {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 26.56773%; }
    .events-container .events-sidebar:last-child {
      margin-right: 0; }

/* single event item */
.event-article {
  padding: 1rem 0; }
  .event-article .event-header {
    display: block; }
    .event-article .event-header::after {
      clear: both;
      content: "";
      display: block; }
    .event-article .event-header .event-title {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 70.25402%; }
      .event-article .event-header .event-title:last-child {
        margin-right: 0; }
    .event-article .event-header .event-date {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 25.63506%;
      text-align: right; }
      .event-article .event-header .event-date:last-child {
        margin-right: 0; }
      .event-article .event-header .event-date .day {
        display: block;
        font-size: 3.25rem;
        font-weight: bold;
        margin: 1rem 0; }
      .event-article .event-header .event-date .month {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem; }
      .event-article .event-header .event-date .time {
        display: block; }
      .event-article .event-header .event-date .year {
        display: none; }
  .event-article .event-content {
    display: block; }
    .event-article .event-content::after {
      clear: both;
      content: "";
      display: block; }
  .event-article .event-footer {
    display: block; }
    .event-article .event-footer::after {
      clear: both;
      content: "";
      display: block; }

.events-list {
  list-style: none;
  padding-left: 0; }
  .events-list .event-day {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.25rem; }
  .events-list .event-dow {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-style: italic; }

/* Events Plugin CSS */
.calendar {
  margin-top: 2em; }
  .calendar .controls {
    text-align: center;
    font-size: 1.2em; }
  .calendar .title {
    display: inline-block;
    min-width: 170px; }
  .calendar td {
    vertical-align: top; }
    .calendar td.current {
      background: #f7f7f7; }
  .calendar .calendar-button {
    display: inline-block;
    line-height: 18px;
    padding: 0.05em 0.25em 0.25em;
    background-color: #bbb;
    color: #fff;
    border-radius: 4px;
    min-width: 1.2em;
    margin: 0 0.05em; }
    .calendar .calendar-button:hover {
      color: #fff;
      transition: background-color 0.15s ease;
      background-color: #999; }
  .calendar .calendar-button
.headings {
    text-align: center; }
  .calendar .event {
    background: #efefef;
    text-align: right;
    padding: 0.5em;
    font-size: 0.9em;
    line-height: 1.1em;
    border-radius: 4px;
    margin-bottom: 5px;
    display: block; }

/*# sourceMappingURL=events.css.map */
