html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* colors taken from antimatter theme */
/* html5 .calendar-hide */
.calendar-hide {
  display: none; }

/* html5 .calendar-legend */
.calendar-legend {
  list-style: none;
  padding-left: 0;
  text-align: right;
  width: 100%; }
  .calendar-legend li {
    display: inline-block;
    margin-left: 0.5rem; }
    .calendar-legend li span.color {
      display: inline-block;
      width: 1.75rem;
      font-size: 0.75rem;
      line-height: 1.75rem;
      background: #dddddd;
      text-align: center; }
    .calendar-legend li span.key {
      display: inline-block;
      line-height: 1.5rem;
      font-size: .75rem; }
    .calendar-legend li.calendar-today .color {
      background: #1BB3E9;
      color: #ffffff; }

/* html5 .calendar-container element */
.calendar-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .calendar-container::after {
    clear: both;
    content: "";
    display: block; }
  .calendar-container .calendar-title {
    text-align: center;
    display: none; }
  .calendar-container .calendar-content {
    display: none; }
  .calendar-container .controls {
    text-align: center;
    font-size: 1.2em; }
    .calendar-container .controls .month-title {
      display: inline-block;
      min-width: 170px;
      font-size: 1.6rem;
      font-weight: normal;
      padding: 0 1rem; }
    .calendar-container .controls .calendar-button {
      display: inline-block;
      width: 1.5rem;
      line-height: 1.5rem;
      background-color: #efefef;
      color: #222222;
      border-radius: 2px;
      margin: 0 0.05em 0.5rem; }
      .calendar-container .controls .calendar-button:hover {
        color: #222222;
        transition: background-color 0.15s ease;
        background-color: #d7d7d7; }
  .calendar-container .calendar {
    font-family: sans-serif; }
    .calendar-container .calendar tr.headings th {
      text-align: center; }
    .calendar-container .calendar thead tr th {
      background: transparent; }
    .calendar-container .calendar thead .calendar-button
.headings {
      text-align: center; }
    .calendar-container .calendar thead .headings {
      background: transparent;
      color: #222222; }
      .calendar-container .calendar thead .headings th {
        line-height: 2.5; }
    .calendar-container .calendar tbody tr td {
      vertical-align: top;
      padding: .45rem; }
      .calendar-container .calendar tbody tr td.current .events .day {
        background: #1BB3E9;
        color: #ffffff; }
        .calendar-container .calendar tbody tr td.current .events .day a {
          color: #ffffff; }
      .calendar-container .calendar tbody tr td .events-list {
        background: #efefef;
        width: auto;
        height: 6.5rem;
        overflow: scroll; }
      .calendar-container .calendar tbody tr td .events {
        position: relative;
        font-size: 0.75rem; }
        .calendar-container .calendar tbody tr td .events .day {
          background: #dddddd;
          color: #888888;
          width: 1.75rem;
          height: 1.75rem;
          line-height: 1.75rem;
          font-size: 0.75rem;
          text-align: center;
          position: absolute;
          top: 0;
          right: 0; }
          .calendar-container .calendar tbody tr td .events .day a {
            display: block;
            width: 100%;
            height: 100%;
            color: #222222; }
            .calendar-container .calendar tbody tr td .events .day a:hover {
              background: #1BB3E9;
              color: #ffffff; }
        .calendar-container .calendar tbody tr td .events .expand {
          background: #dddddd;
          color: #222222;
          width: 1.75rem;
          height: 1.75rem;
          line-height: 1.75rem;
          font-size: 0.75rem;
          text-align: center;
          position: absolute;
          bottom: 0;
          right: 0;
          display: none; }
        .calendar-container .calendar tbody tr td .events ul {
          list-style: none;
          padding: 0 0.75rem 0.25rem;
          margin: 0.5rem 0.5rem 0.5rem 0;
          /*&:hover {
								min-height: 6rem;
								height: auto;
								position: absolute;
								outline: 1rem solid #fff;
								z-index: 98;
							}*/ }
          .calendar-container .calendar tbody tr td .events ul li {
            padding: 0; }
            .calendar-container .calendar tbody tr td .events ul li a {
              color: #222222; }
          .calendar-container .calendar tbody tr td .events ul li:before {
            content: "";
            border-color: transparent #111;
            border-style: solid;
            border-width: 0.35em 0 0.35em 0.45em;
            display: block;
            height: 0;
            width: 0;
            left: -1em;
            top: 0.9em;
            position: relative; }
        .calendar-container .calendar tbody tr td .events .event {
          line-height: 1.2; }
          .calendar-container .calendar tbody tr td .events .event:hover {
            height: auto; }

/* html5 .calendar-modal element */
.calendar-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.25);
  display: none; }
  .calendar-modal .calendar-modal-inner {
    background: #fff;
    max-width: 700px;
    margin: 6rem auto;
    padding: 2rem 4rem;
    position: relative;
    font-family: sans-serif; }
    .calendar-modal .calendar-modal-inner .calendar-close-modal {
      position: absolute;
      right: 1rem;
      top: 0;
      font-size: 3rem;
      font-family: sans-serif;
      cursor: pointer; }
    .calendar-modal .calendar-modal-inner .calendar-modal-title {
      font-size: 2rem; }
    .calendar-modal .calendar-modal-inner .calendar-modal-content ul {
      list-style: none;
      padding-left: 0; }
      .calendar-modal .calendar-modal-inner .calendar-modal-content ul li time {
        width: 5rem;
        display: inline-block;
        color: #222; }

/* html5 .event-button element */
.event-button {
  display: inline-block;
  border: 2px solid #1BB3E9;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  color: #1BB3E9;
  background: #ffffff; }
  .event-button:hover {
    color: #fff;
    border: 2px solid #1BB3E9;
    background: #1BB3E9; }

/* html5 .events-container element */
.events-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .events-container::after {
    clear: both;
    content: "";
    display: block; }
  .events-container .featured-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .events-container .featured-events .featured-event {
      flex-basis: 40%;
      flex-grow: 1;
      margin: 0 1rem 2rem; }
      .events-container .featured-events .featured-event .featured-event-masthead {
        position: relative; }
        .events-container .featured-events .featured-event .featured-event-masthead img {
          display: block;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px; }
        .events-container .featured-events .featured-event .featured-event-masthead .featured-event-title {
          position: absolute;
          bottom: 2rem;
          padding: 0 2rem;
          margin: 0;
          background: rgba(255, 255, 255, 0.8);
          background: rgba(255, 255, 255, 0.8);
          color: #222; }
          .events-container .featured-events .featured-event .featured-event-masthead .featured-event-title a {
            color: #222; }
      .events-container .featured-events .featured-event .featured-event-content {
        border: 1px solid #efefef;
        padding: 0.5rem 2rem;
        overflow: hidden;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
        .events-container .featured-events .featured-event .featured-event-content .event-meta-information {
          padding-left: 0;
          list-style: none;
          display: block; }
          .events-container .featured-events .featured-event .featured-event-content .event-meta-information li {
            display: inline-block;
            margin-right: 1em; }
            .events-container .featured-events .featured-event .featured-event-content .event-meta-information li i {
              width: 1rem; }
  .events-container .events-listing {
    padding-bottom: 2rem; }
    .events-container .events-listing .event-item {
      display: block;
      border-bottom: 1px solid #efefef;
      padding: 1rem 0; }
      .events-container .events-listing .event-item::after {
        clear: both;
        content: "";
        display: block; }
      .events-container .events-listing .event-item:last-child {
        border-bottom: 0; }
      .events-container .events-listing .event-item .event-image {
        float: left;
        display: block;
        margin-right: 5.85151%;
        width: 15.31879%; }
        .events-container .events-listing .event-item .event-image:last-child {
          margin-right: 0; }
        .events-container .events-listing .event-item .event-image img {
          padding: 0;
          margin: 1rem 0 0;
          border-radius: 3px; }
      .events-container .events-listing .event-item .event-content {
        float: left;
        display: block;
        margin-right: 5.85151%;
        width: 78.8297%;
        display: block; }
        .events-container .events-listing .event-item .event-content:last-child {
          margin-right: 0; }
        .events-container .events-listing .event-item .event-content::after {
          clear: both;
          content: "";
          display: block; }
        .events-container .events-listing .event-item .event-content h3 {
          margin: 0; }
        .events-container .events-listing .event-item .event-content .event-meta {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          margin-right: 0; }
          .events-container .events-listing .event-item .event-content .event-meta:last-child {
            margin-right: 0; }
          .events-container .events-listing .event-item .event-content .event-meta ul {
            list-style: none;
            padding-left: 0; }
            .events-container .events-listing .event-item .event-content .event-meta ul li i {
              width: 1.5rem; }
        .events-container .events-listing .event-item .event-content .event-summary {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-right: 0; }
          .events-container .events-listing .event-item .event-content .event-summary:last-child {
            margin-right: 0; }

/* html5 .event-container element */
.event-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .event-container::after {
    clear: both;
    content: "";
    display: block; }
  .event-container .event-listing {
    float: left;
    display: block;
    margin-right: 4.11092%;
    width: 70.25402%; }
    .event-container .event-listing:last-child {
      margin-right: 0; }
  .event-container .events-sidebar {
    float: left;
    display: block;
    margin-right: 4.11092%;
    width: 25.63506%; }
    .event-container .events-sidebar:last-child {
      margin-right: 0; }

/* html5 .event-article element */
.event-article {
  padding: 1rem 0; }
  .event-article .event-header {
    display: block;
    position: relative; }
    .event-article .event-header::after {
      clear: both;
      content: "";
      display: block; }
    .event-article .event-header .event-date {
      position: absolute;
      text-align: right;
      top: 0;
      right: 0;
      padding: 0.25rem 1rem;
      background: rgba(255, 255, 255, 0.85);
      background: rgba(255, 255, 255, 0.85);
      color: #222;
      height: 140px;
      width: 160px; }
      .event-article .event-header .event-date .day {
        display: block;
        font-size: 3.75rem;
        font-weight: bold;
        margin: 0;
        line-height: 1; }
      .event-article .event-header .event-date .month {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.35rem;
        line-height: 1;
        margin: 0.5rem 0; }
      .event-article .event-header .event-date .time {
        display: block;
        line-height: 1; }
      .event-article .event-header .event-date .year {
        display: none; }
  .event-article .event-content {
    display: block; }
    .event-article .event-content::after {
      clear: both;
      content: "";
      display: block; }
  .event-article .event-footer {
    display: block; }
    .event-article .event-footer::after {
      clear: both;
      content: "";
      display: block; }

/* html5 .events-sidebar element */
.events-sidebar .events-list {
  list-style: none;
  padding-left: 0; }
  .events-sidebar .events-list .event-day {
    font-size: 2rem;
    margin-top: 1rem; }
  .events-sidebar .events-list .event-dow {
    font-size: 1.2rem; }

/* html5 .event-tags element */
.event-tags {
  display: inline-block; }
  .event-tags a {
    display: inline-block;
    border: 1px solid #1BB3E9;
    border-radius: 4px;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: normal; }

/* clear user agent styles */
.clear-user-agent-styles table,
.clear-user-agent-styles thead,
.clear-user-agent-styles tbody,
.clear-user-agent-styles tfoot,
.clear-user-agent-styles tr,
.clear-user-agent-styles th,
.clear-user-agent-styles td {
  border: none;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit; }

/*# sourceMappingURL=events.css.map */
