{% embed 'partials/base.html.twig' %}

{% block content %}

<div class="events-container">

	<section class="events-listing">
		
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		{% include 'partials/event_item.html.twig' with {'event':page.parent, 'truncate':false, 'single':true} %}

	</section>

	<aside class="events-sidebar">
		{% include 'partials/events_sidebar.html.twig' with {'page':page.parent} %}
	</aside>

</div>
	
{% endblock %}

{% endembed %}
