{% embed 'partials/base.html.twig' %}

{% set collection =
    page.collection({
        'items':{
            'taxonomy@.type': 'event'
        }
    })
    .dateRange(datetools.today|date('m/d/Y'))
    .order('date', 'asc') 
%}

{% block content %}
<div class="events-container">

	<section class="events-listing">

		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		{% for child in collection %}
	        {% include 'partials/event_item.html.twig' with {'event':page, 'page':child, 'truncate':true} %}
	    {% endfor %}

        {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        {% endif %}

	</section><!--.events-->

	<aside class="events-sidebar">
		{% include 'partials/sidebar_events.html.twig' with {'page':page} %}
	</aside>

</div>
{% endblock %}

{% endembed %}
